/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header style */
header{
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
background-image: url(../images/Group\ 14.png);
background-repeat: no-repeat;
background-position: top left;
}

.nav-container{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); 
}
.nav-bar{
    max-width: 1440px;
    margin: 0 auto;
    padding: 25px 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-text{
    display: flex;
    align-items: center;
    gap: 12px;
}
.nav-logo-text img{
    width: 65px;
    height: 30px;
}
.nav-logo-text h3{
    font-size: 31px;
    font-weight: 700;
    line-height: normal;
}
.nav-logo-text h3 span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu > ul{
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-menu > ul > li > a{
    color: #3C354F;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.follow-box{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    gap: 15px;
}

.follow-box .yt-icon{
    width: 25px;
    height: 18px;
}

.follow-box .tiktok-icon{
    width: 17px;
    height: 17px;
}

/* Banner Style  */

.banner-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 135px;
    display: flex;
    align-items: center;
}

.banner-container > div{
    flex-basis: 50%;
}


.banner-title-text h2{
    color: #0B0223;
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title-text h1{
    margin-left: -4px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list-content >ul > li{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.btn-primary{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.btn-primary .sign-in{
    padding: 13px 30px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
    color: #fff;
    cursor: pointer;
}
.btn-primary .Rogue{
    padding: 13px 30px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.banner-right-img img{
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
}

/* funny Videos */
.online-games-section{
    margin-top: 50px;
}
.games-content{
    text-align: center;
}
.games-content h2{
    color: #0B0223;
    font-size: 32px;;
    font-weight: 700;
}
.games-content p{
    color: #534C64;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 30px;
    margin-top: 4px;
}

.default-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.games-card-container{
    padding: 0px 135px;
    display: flex;
    gap: 24px;
}


.games-card-img > img{
    width: 100%;
    
}

.games-card-img{
    position: relative;
    margin-bottom: 15px;
    
    
}

.img-hover-style img{
    width: 34px;
    height: 34px;
    
}

.games-card-img .img-hover-style{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    cursor: pointer;
    border-radius: 12px;
    
}

.games-card:hover .img-hover-style{
    transition: 0.1s;
    border: 3px solid #ff42a5;
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(to right top, #051937ae, #051d40a7, #04224aae, #032654bb, #022b5ea6);
    color: #fff;
}

.games-card-caption p{
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px; 
}

/* play games online */
.play-games-online-container{
    padding: 0px 135px;
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
    
}
.play-games-online-container2{
    padding: 0px 135px;
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
    flex-direction: row-reverse;
}
.play-games-online-container2 >div{
    flex-basis: 50%;
}
.play-games-online-container >div{
    flex-basis: 50%;
}

.play-games-left-img{
    width: 100%;
    position: relative;
}
.play-games-right-img{
    width: 100%;
    position: relative;
}

.play-games-left-img .top-img img{
    width: 100%;
}
.play-games-right-img .top-img img{
    width: 100%;
}
.play-games-left-img .bottom-img{
    position: absolute;
    bottom: 0;
    left: -89px;
    width: 200px;
    height: 150px;
}
.play-games-right-img .bottom-img{
    position: absolute;
    bottom: 0;
    right: -89px;
    width: 200px;
    height: 150px;
}

.play-games-left-img .bottom-img img{
    width: 100%;
}
.play-games-right-img .bottom-img img{
    width: 100%;
}

.play-games-right-content h2{
    color: #0B0223;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 10px;
}
.play-games-right-content p{
    color: #534C64;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 166.667% */
}

.play-games-online{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}















/* Responsive */
@media screen and (max-width:576px) {
    .nav-bar{
        flex-direction: column;
    }
    header{
        background-image: none;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    }

    .nav-menu > ul{
        flex-direction: column;
        margin-top: 20px;
        width: 240px;
    }


    .banner-container{
        flex-direction: column;
        padding: 0px 50px;
    }
    .banner-left-content{
        order: 2;
        padding: 100px 0px;
    }
    .banner-right-img img{
        width: 100%;
    }

      .games-card-container{
        flex-direction: column;
        padding: 0px 40px;
    }
    .play-games-online-container{
        flex-direction: column;
        text-align: center;
        padding: 0px 60px;
        margin-top: 80px;
        gap: 80px;
    }
    .play-games-online-container2{
        flex-direction: column;
        text-align: center;
        padding: 0px 60px;
        margin-top: 80px;
        gap: 80px;
    }

    .play-games-left-img{
        order: 2;
    }
    .play-games-right-img{
        order: 2;
    }

    .play-games-left-img .bottom-img{
        position: absolute;
        width: 150px;
        bottom: -40px;
        left: -50px;
        height: 150px;
    }
    .play-games-right-img .bottom-img{
        position: absolute;
        width: 150px;
        bottom: -40px;
        right: -50px;
        height: 150px;
    }
}